<div padding>
  <form (ngSubmit)="submitForm(loginForm)" #loginForm="ngForm" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [attr.disabled]="form.status == 'INVALID' ? true : null">Submit</button>
  </form>
  <button ion-button clear block color="medium" (click)="goToRegister()">Don't have an account?</button>
</div>
